<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Groundsman</string>
	<key>CFBundleIdentifier</key>
	<string>com.qutgeodev.groundsman</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Groundsman</string>
	<key>CFBundleShortVersionString</key>
	<string>9.1</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Groundsman uses your location to help you create features, display your position on the map and to record your movement path. When always allowed, Groundsman can create log lines in in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Groundsman uses your location to help you create features, display your position on the map and to record your movement path. When always allowed, Groundsman can create log lines in in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Groundsman uses your location to help you create features and display your position on the map.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add New Feature</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.geoapplads.Groundsman.000</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeName</key>
			<string>GeoJSON</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.document.geojson</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeName</key>
			<string>JSON</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-5</string>
			</array>
		</dict>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeName</key>
			<string>Content</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.content</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.document.geojson</string>
			<key>UTTypeReferenceURL</key>
			<string>http://geojson.org/</string>
			<key>UTTypeDescription</key>
			<string>GeoJSON file</string>
			<key>UTTypeIconFile</key>
			<string>public.jpeg.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.item</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JSON</string>
				<key>public.filename-extension</key>
				<array>
					<string>geojson</string>
				</array>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9.1.0.2</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
